<!DOCTYPE html>
<html>

<head>
    <title>Surveying equipment</title>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('css/min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="header__top">Promotional discounts up to 70%</div>
        <div class="header__container">
            <div class="header__body">
                <a href="/" class="header__logo">
                    <img src="{{ asset('icon/logo.svg') }}" alt="Logo">
                </a>
                <div class="header__contacts">
                    <a href="tel:01482 322191" class="header__phone"><span>{{ 'Phone'|trans }}:</span> 01482 322191</a>
                    <a href="mailto:simon@smithsurveyingequipment.co.uk" class="header__email"><span>{{ 'E-mail'|trans }}:</span> simon@smithsurveyingequipment.co.uk</a>
                </div>
                <a href="#!" class="header__articles">{{ 'Articles'|trans }}</a>
                {% if is_logged == true %}
                    <a href="{{ path('app_logout') }}" class="header__articles">{{ 'Log Out'|trans }}</a>
                     {% if is_admin == true %}
                        <a href="{{ path('admin') }}" class="header__articles">{{ 'Account'|trans }}</a>
                     {% else %}
                         <a href="{{ path('profile') }}" class="header__articles">{{ 'Account'|trans }}</a>
                     {% endif %}
                {% else %}
                    <a href="{{ path('app_login', {seller_id: seller_id}) }}" class="header__articles">{{ 'Log In'|trans }}</a>
                    <a href="{{ path('app_register', {seller_id: seller_id}) }}" class="header__articles">{{ 'Register'|trans }}</a>
                {% endif %}
                 <a class="language" data-route="{{ path('locale', {locale: 3}) }}">En</a>
                <a class="language" data-route="{{ path('locale', {locale: 1}) }}">Ua</a>
                <a class="language" data-route="{{ path('locale', {locale: 2}) }}">Ru</a>


                <a class="currency" data-route="{{ path('currency', {currency: 1}) }}">USD</a>
                <a class="currency" data-route="{{ path('currency', {currency: 2}) }}">EUR</a>
                <a class="currency" data-route="{{ path('currency', {currency: 3}) }}">UAH</a>
                <a class="currency" data-route="{{ path('currency', {currency: 4}) }}">GBP</a>
            </div>
        </div>
    </header>

    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="footer__container">
            <div class="footer__body">
                <div class="footer__main main-footer">
                    <div class="main-footer__tagline"><span>S</span>mith</br> <span>s</span>urveying</br> <span>e</span>quipment</div>
                    <div class="main-footer__desc">Equipped to meet your goals</div>
                    <div class="main-footer__contacts contacts-main-footer">
                        <a href="tel:01482322191" class="contacts-main-footer__phone"><span>Phone:</span></br> 01482 322191</a>
                        <div class="contacts-main-footer__person"><span>Contact Person:</span></br> Simon Smith</div>
                        <a href="mailto:simon@smithsurveyingequipment.co.uk" class="contacts-main-footer__email"><span>E-mail:</span></br> simon@smithsurveyingequipment.co.uk</a>
                    </div>
                </div>
                <div class="footer__info info-footer">
                    <div class="info-footer__title title-footer">Company info</div>
                    <div class="info-footer__text">Smith Surveying Equipment Limited 10-12 Empringham Street Hull, East Yorkshire,HU9 1RP United Kingdom</div>
                    <div class="info-footer__data">
                        <p><span>Company Number:</span> 07374821</p>
                        <p><span>VAT Number:</span> GB 996278058</p>
                    </div>
                </div>
                <div class="footer__navigation navigation-footer">
                    <div class="navigation-footer__shop shop-footer">
                        <div class="navigation-footer__title title-footer">Shop now</div>
                        <div class="shop-footer__menu menu-footer">
                            <nav class="menu-footer__body">
                                <ul class="menu-footer__list">
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Surveying Equipment</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Survey Accessories</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Distance Measuring</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Detection & Safety</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Used Equipment
                                        </a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="offers.html" class="menu-footer__link">Special Offers</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="navigation-footer__menu menu-footer">
                        <div class="navigation-footer__title title-footer">Navigation</div>
                        <div class="shop-footer__menu menu-footer">
                            <nav class="menu-footer__body">
                                <ul class="menu-footer__list">
                                    <li class="menu-footer__item">
                                        <a href="about.html" class="menu-footer__link">About Us</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Service & Calibration</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Equipment Hire</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Payment & Shipping</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="news.html" class="menu-footer__link">News</a>
                                    </li>
                                    <li class="menu-footer__item">
                                        <a href="#!" class="menu-footer__link">Contact Us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy">© 2022 | All Rights Reserved</div>
        </div>
    </footer>


</div>

<script src="{{ asset('js/locale.js') }}"></script>
<script src="{{ asset('js/min.js') }}"></script>

</body>

</html>
